<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Eduport{% endblock %}</title>
        <!-- loading path for static files-->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'tutorial/style.css' %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Satisfy" rel="stylesheet" type="text/css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'tutorial:index' %}">Eduport</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topnavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        
    </div>


  <div class="collapse navbar-collapse" id="#topnavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'tutorial:index' %}">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;Subjects
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Notes
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'tutorial:register' %}">
          <span class=" glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Registration
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'tutorial:subject-add' %}">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Add Subjects
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'tutorial:note-add' %}">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Add Notes
        </a>
      </li>
  </ul>
<ul class="nav navbar-nav navbar-right">
  <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'tutorial:index' %}" method="get">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" value="{{ request.GET.q }}" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <li class="nav-item active">
    <a class="nav-link" href="#">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Logout
    </a>
  </li>

</ul>

  </div>
    </div>
</nav>

    {% block body%}

    {% endblock%}

    </body>
</html>