/*here we can put code to design our homepage and all*/
body{
    background: white url("images/background1.png");

}
.navbar{
  border-radius: 0;
  }

.navbar-brand{
  font-family: 'Satisfy',cursive;
}

